.train {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 0;
    transition: left 1s cubic-bezier(0, 0, 1, 1);
}
.train1 {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    right: 0;
    transition: right 1s cubic-bezier(0, 0, 1, 1);
}
.train2 {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    top: 0;
    transition: top 1s cubic-bezier(0, 0, 1, 1);
}